extends pug-bootstrap/_bootstrap
block body
	.container
		.row
			.col-sm-6.col-sm-offset-3
				h1 Maintenance Mode
				p This site is undergoing maintenance by the official maintenance elves. Please check back in a while.